.img-full {
    width: 100% !important;
    height: 100% !important;
    object-fit: 'cover';
} 
.main-div {
    display: flex;
    height: 100vh; 
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  
  .login-form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img-div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }